/.github export-ignore
/scripts export-ignore
/tests export-ignore
.code-samples.meilisearch.yaml export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.php-cs-fixer.dist.php export-ignore
bors.toml export-ignore
CONTRIBUTING.md export-ignore
phpstan.neon export-ignore
phpunit.xml.dist export-ignore
