# Testing the code base against a specific Meilisearch feature
name: Meilisearch Prototype Beta tests

# Will only run for PRs and pushes to *-beta
on:
  push:
    branches: ['meilisearch-*-beta']
  pull_request:
    branches: ['meilisearch-*-beta']

jobs:
  meilisearch-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Grep docker beta version of Meilisearch
        id: grep-step
        run: |
          MEILISEARCH_VERSION=$(sh .github/scripts/beta-docker-version.sh)
          echo $MEILISEARCH_VERSION
          echo "version=$MEILISEARCH_VERSION" >> $GITHUB_OUTPUT
    outputs:
      version: ${{ steps.grep-step.outputs.version }}

  tests:
    runs-on: ubuntu-latest
    needs: ['meilisearch-version']
    name: integration-tests-against-rc (PHP ${{ matrix.php-version }}) (${{ matrix.http-client }})
    services:
      meilisearch:
        image: getmeili/meilisearch:${{ needs.meilisearch-version.outputs.version }}
        ports:
          - '7700:7700'
        env:
          MEILI_MASTER_KEY: masterKey
          MEILI_NO_ANALYTICS: true
    strategy:
      matrix:
        php-version: ['8.1', '8.2', '8.3', '8.4']
        http-client: ['Guzzle-7', 'Guzzle-7-Adapter', 'Symfony-HttpClient', 'PHP-HTTP-CurlClient', 'Kriswallsmith-Buzz']
        exclude:
          - php-version: '8.1'
            http-client: 'Symfony-HttpClient'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Switch to Guzzle7 Adapter
        if: matrix.http-client == 'Guzzle-7-Adapter'
        run: |
          sed -i 's/"guzzlehttp\/guzzle": "^[0-9]\+\.[0-9]\+\.[0-9]\+\",/"php-http\/guzzle7-adapter": "^1.0.0",/' composer.json

      - name: Switch to Symfony HttpClient
        if: matrix.http-client == 'Symfony-HttpClient'
        run: |
          sed -i 's/"guzzlehttp\/guzzle": "^[0-9]\+\.[0-9]\+\.[0-9]\+\",/"symfony\/http-client": "^7.1.1",/' composer.json
          sed -i 's/"http-interop\/http-factory-guzzle": "^[0-9]\+\.[0-9]\+\.[0-9]\+\",/"nyholm\/psr7": "^1.8.1",/' composer.json

      - name: Switch to PHP HTTP CurlClient
        if: matrix.http-client == 'PHP-HTTP-CurlClient'
        run: |
          sed -i 's/"guzzlehttp\/guzzle": "^[0-9]\+\.[0-9]\+\.[0-9]\+\",/"php-http\/curl-client": "^2.3.2",/' composer.json
          sed -i 's/"http-interop\/http-factory-guzzle": "^[0-9]\+\.[0-9]\+\.[0-9]\+\",/"nyholm\/psr7": "^1.8.1",/' composer.json

      - name: Switch to Kriswallsmith Buzz
        if: matrix.http-client == 'Kriswallsmith-Buzz'
        run: |
          sed -i 's/"guzzlehttp\/guzzle": "^[0-9]\+\.[0-9]\+\.[0-9]\+\",/"kriswallsmith\/buzz": "^1.2.1",/' composer.json
          sed -i 's/"http-interop\/http-factory-guzzle": "^[0-9]\+\.[0-9]\+\.[0-9]\+\",/"nyholm\/psr7": "^1.8.1",/' composer.json

      - name: Install dependencies
        uses: ramsey/composer-install@v3

      - name: Run test suite
        run: sh scripts/tests.sh
