name: Tests

on:
  pull_request:
  push:
    # trying and staging branches are for BORS config
    branches:
      - trying
      - staging
      - main
      - feature/**

jobs:
  yaml-lint:
    name: Yaml linting check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Yaml lint check
        uses: ibiqlik/action-yamllint@v3
        with:
          config_file: .yamllint.yml

  lint:
    runs-on: ubuntu-latest
    name: linter-check
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
          coverage: none

      - name: Install dependencies
        uses: ramsey/composer-install@v3

      - name: Run linter
        run: composer lint

  phpstan:
    runs-on: ubuntu-latest
    name: phpstan-tests
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          coverage: none

      - name: Install dependencies
        uses: ramsey/composer-install@v3

      - name: Run types tests with PHPStan
        run: composer phpstan

  tests:
    # Will not run if the event is a PR to bump-meilisearch-v* (so a pre-release PR)
    # Will still run for each push to bump-meilisearch-v*
    if: github.event_name != 'pull_request' || !startsWith(github.base_ref, 'bump-meilisearch-v')
    runs-on: ubuntu-latest
    name: integration-tests (PHP ${{ matrix.php-version }}) (${{ matrix.http-client }})
    services:
      meilisearch:
        image: getmeili/meilisearch:latest
        ports:
          - '7700:7700'
        env:
          MEILI_MASTER_KEY: masterKey
          MEILI_NO_ANALYTICS: true
    strategy:
      matrix:
        php-version: ['7.4', '8.0', '8.1', '8.2', '8.3']
        http-client: ['Guzzle-7', 'Guzzle-7-Adapter', 'Symfony-HttpClient', 'PHP-HTTP-CurlClient', 'Kriswallsmith-Buzz']
        exclude:
          - php-version: '7.4'
            http-client: 'Symfony-HttpClient'
          - php-version: '8.0'
            http-client: 'Symfony-HttpClient'
          - php-version: '8.1'
            http-client: 'Symfony-HttpClient'

    steps:
      - uses: actions/checkout@v4

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: pcov

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Switch to Guzzle7 Adapter
        if: matrix.http-client == 'Guzzle-7-Adapter'
        run: |
          sed -i 's/"guzzlehttp\/guzzle": "^[0-9]\+\.[0-9]\+\.[0-9]\+\",/"php-http\/guzzle7-adapter": "^1.0.0",/' composer.json

      - name: Switch to Symfony HttpClient
        if: matrix.http-client == 'Symfony-HttpClient'
        run: |
          sed -i 's/"guzzlehttp\/guzzle": "^[0-9]\+\.[0-9]\+\.[0-9]\+\",/"symfony\/http-client": "^7.1.1",/' composer.json
          sed -i 's/"http-interop\/http-factory-guzzle": "^[0-9]\+\.[0-9]\+\.[0-9]\+\",/"nyholm\/psr7": "^1.8.1",/' composer.json

      - name: Switch to PHP HTTP CurlClient
        if: matrix.http-client == 'PHP-HTTP-CurlClient'
        run: |
          sed -i 's/"guzzlehttp\/guzzle": "^[0-9]\+\.[0-9]\+\.[0-9]\+\",/"php-http\/curl-client": "^2.3.2",/' composer.json
          sed -i 's/"http-interop\/http-factory-guzzle": "^[0-9]\+\.[0-9]\+\.[0-9]\+\",/"nyholm\/psr7": "^1.8.1",/' composer.json

      - name: Switch to Kriswallsmith Buzz
        if: matrix.http-client == 'Kriswallsmith-Buzz'
        run: |
          sed -i 's/"guzzlehttp\/guzzle": "^[0-9]\+\.[0-9]\+\.[0-9]\+\",/"kriswallsmith\/buzz": "^1.2.1",/' composer.json
          sed -i 's/"http-interop\/http-factory-guzzle": "^[0-9]\+\.[0-9]\+\.[0-9]\+\",/"nyholm\/psr7": "^1.8.1",/' composer.json

      - name: Install dependencies
        uses: ramsey/composer-install@v3

      - name: Run test suite
        run: sh scripts/tests.sh --coverage-clover coverage-${{ matrix.php-version }}-${{ matrix.http-client }}.xml

      - name: Upload coverage file
        uses: actions/upload-artifact@v4
        with:
          name: 'phpunit-${{ matrix.php-version }}-${{ matrix.http-client }}-coverage'
          path: 'coverage*.xml'

  test_php_7_guzzle_6:
    # Will not run if the event is a PR to bump-meilisearch-v* (so a pre-release PR)
    # Will still run for each push to bump-meilisearch-v*
    if: github.event_name != 'pull_request' || !startsWith(github.base_ref, 'bump-meilisearch-v')
    runs-on: ubuntu-latest
    services:
      meilisearch:
        image: getmeili/meilisearch:latest
        ports:
          - 7700:7700
        env:
          MEILI_MASTER_KEY: masterKey
          MEILI_NO_ANALYTICS: true

    name: integration-tests (PHP 7.4 & Guzzle 6)
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'
          coverage: none

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Switch to Guzzle 6
        run: |
          sed -i 's/"guzzlehttp\/guzzle": "^[0-9]\+\.[0-9]\+\.[0-9]\+\",/"php-http\/guzzle6-adapter": "^2.0.2",/' composer.json

      - name: Install dependencies
        uses: ramsey/composer-install@v3

      - name: Run test suite - php-http/guzzle6-adapter
        run: sh scripts/tests.sh

  upload-coverage:
    name: Upload coverage to Codecov
    runs-on: ubuntu-latest
    needs:
      - tests

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Download coverage files
        uses: actions/download-artifact@v4
        with:
          path: reports

      - name: Upload to Codecov
        uses: codecov/codecov-action@v5
        with:
          directory: reports
