name: Tests

on:
  pull_request:
  push:
    # trying and staging branches are for BORS config
    branches:
      - trying
      - staging
      - master

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint Codebase

    steps:
      - uses: actions/checkout@v1

      - name: Install PHP
        uses: shivammathur/setup-php@v2

      - name: Install dependencies
        run: |
          composer install --prefer-dist --no-progress --no-suggest
          composer bin linting install --prefer-dist --no-progress --no-suggest

      - name: Run linter
        run: vendor/bin/php-cs-fixer fix -v --config=.php_cs.dist --using-cache=no --dry-run --allow-risky=yes
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: ['7.2', '7.3', '7.4', '8.0']
    name: PHP ${{ matrix.php-versions }} Test

    steps:
    - uses: actions/checkout@v1

    - name: Install PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-versions }}

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --no-suggest

    - name: Docker setup
      run: docker run -d -p 7700:7700 getmeili/meilisearch:latest ./meilisearch --master-key=masterKey --no-analytics=true

    - name: Run test suite - default HTTP client (Guzzle 7)
      run: |
        sh scripts/tests.sh
        composer remove --dev guzzlehttp/guzzle http-interop/http-factory-guzzle

    - name: Run test suite - php-http/guzzle6-adapter
      # Don't run on PHP 8
      # Guzzle 6 is not compatible with PHP 8.0
      if: ${{ !startsWith(matrix.php-versions, '8.') }}
      run: |
        composer require --dev php-http/guzzle6-adapter http-interop/http-factory-guzzle
        sh scripts/tests.sh
        composer remove --dev php-http/guzzle6-adapter http-interop/http-factory-guzzle

    - name: Run test suite - symfony/http-client
      run: |
        composer require --dev symfony/http-client nyholm/psr7
        sh scripts/tests.sh
        composer remove --dev symfony/http-client nyholm/psr7

    - name: Run test suite - php-http/curl-client
      # Don't run on PHP 8
      # php-http/curl-client is currently not compatible with PHP 8.0
      if: ${{ !startsWith(matrix.php-versions, '8.') }}
      run: |
        composer require --dev php-http/curl-client nyholm/psr7
        sh scripts/tests.sh
        composer remove --dev php-http/curl-client nyholm/psr7

    - name: Run test suite - kriswallsmith/buzz
      # Don't run on PHP 8
      # kriswallsmith/buzz is currently not compatible with PHP 8.0
      if: ${{ !startsWith(matrix.php-versions, '8.') }}
      run: |
        composer require --dev kriswallsmith/buzz nyholm/psr7
        sh scripts/tests.sh
        composer remove --dev kriswallsmith/buzz nyholm/psr7
